* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block__title {
  width: fit-content;
  margin: auto;
}

.block__title-text {
  font-family: "garamond", sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
  text-align: center;
  color: #2f2f2f;
  width: fit-content;
  margin: auto;
}

.block__title-line {
  width: 90%;
  height: 1px;
  background: #693030;
  margin: 20px auto 0 auto;
}

.block__title-text-yellow {
  color: #dbaf15;
}

.button {
  border: 3px solid #dbaf15;
  box-shadow: 0px 0px 37px 0px #dbaf15a3;
  background: #ffffff;
  font-family: "lato", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #dbaf15;
  text-decoration: none;
  padding: 12px;
  border-radius: 50px;
  display: block;
  margin: 20px 0 0 0;
  cursor: pointer;
}

.testimonails {
  padding: 100px 0;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto 0 auto;
  position: relative;
  overflow: hidden !important;
  z-index: 1;

}

.testimonails__wrapper {
  display: grid !important;
  width: 100%;
  grid-template-columns: repeat(6, 33%);
  margin: 100px 0 0 0;
  gap: 1%;
  transition: ease-in-out 0.5s;
}

.testimonails__item-container{
cursor: pointer;
transition: 0.5s;
}

.testimonails__item-container:hover{
  scale: 1.05;
}
.testimonails__item-big{
  width: 100%;
}

.testimonails__item-img{
margin: auto;
display: block;
width: 100%;
height: 346px;
object-fit: cover;
object-position: top;
border-radius: 45px 45px 0 0;
}

.testimonails__item-big .testimonails__item-img{
  height: 450px;
  width: 100%;
}

.testimonails__item-name{
  background: #D3B99F;
padding: 30px;
width: 100%;
border-radius: 0 0 20px 20px;

font-family: 'lato',sans-serif;
font-size: 23px;
font-weight: 500;
line-height: 34.5px;
letter-spacing: 0.01em;
text-align: center;
color: #FFFFFF;

}



.testimonails__arrow-left{
cursor: pointer;
order: 0;
}

.testimonails__arrow-right{
transform: rotate(180deg);
order: 3;
justify-self: end;
cursor: pointer;
}

.testimonails__item{
    margin: auto;
  width: 80%;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
align-items: center;

margin: auto;
justify-content: center;

  gap: 20px;
}

.testimonails__item-big{
  width: 100%;
}

.testimonails__item-container{
  order: 2;
  position: relative;
  z-index: 2;

  width: 100%;
}



.testimonails__modal{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
bottom: 0;
right: 0;
left: 0;
  background-color: rgba(0, 0, 0, 0.419);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.testimonails__modal-container{
  width: 90%;
  max-width: 500px;

  background: #F6EDE3;
border-radius: 16px;
padding: 40px;
position: relative;

}
.testimonails__modal-description{
  font-family: "lato", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.04em;
text-align: left;

}

.testimonails__modal-name{
  font-family: 'garamond', sans-serif;
margin: 0 0 20px 0;
font-size: 40px;
font-weight: 400;
line-height: 40px;
text-align: left;

}
.testimonails__img-close{
  position: absolute;
  width: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


