* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block__title {
  width: fit-content;
  margin: auto;
}

.block__title-text {
  font-family: "garamond", sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
  text-align: center;
  color: #2f2f2f;
  width: fit-content;
  margin: auto;
}

.block__title-line {
  width: 90%;
  height: 1px;
  background: #693030;
  margin: 20px auto 0 auto;
}

.block__title-text-yellow {
  color: #dbaf15;
}

.button {
  border: 3px solid #dbaf15;
  box-shadow: 0px 0px 37px 0px #dbaf15a3;
  background: #ffffff;
  font-family: "lato", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #dbaf15;
  text-decoration: none;
  padding: 12px;
  border-radius: 50px;
  display: block;
  margin: 20px 0 0 0;
  cursor: pointer;
}

.testimonails__arrow-left {
  cursor: pointer;
  order: 0;
}
.testimonails__arrow-right {
  transform: rotate(180deg);
  order: 3;
  justify-self: end;
  cursor: pointer;
}

@media (max-width: 769px) {
  .testimonails__arrow-right,
  .testimonails__arrow-left {
    display: none;
  }

  .testimonails__arrow-right.active,
  .testimonails__arrow-left.active {
    display: block !important;
  }

  .testimonails__arrow-right.active{
    position: absolute;
  left: 0;
  transform: rotate(0deg);
  bottom: 273px;
  }
  .testimonails__arrow-left.active{
    position: absolute;
    right:  0;
    bottom: 273px;
    z-index: 2;
    transform: rotate(180deg);

  }
}


.testimonails__pagination{
  display: flex;
  gap: 8px;
  width: fit-content;
  margin: 30px auto 0 auto;
}

.testimonails__pagination span {
  background: #FCEAD9;
border-radius: 3px;
height: 4px;
width: 23.57px;
display: block;
}

.testimonails__pagination span.active {
  background: #C5B19D;

}


